* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
body {
	width: 100%;
	height: 100vh;
  background: url(assets/freedom.jpg) no-repeat center;
	/background-size: cover;
}
.text{
	padding-top: 5rem; /**how far from top**/
	width: 90%;/*cat din lungimea paginii sa ocupe*/
	/*margin: 0 auto;*/
	text-align:center
}